@inherits LayoutComponentBase

<main>
    @Body
</main>

<footer>
    <hr />
    <div>
        It's the footer!
        <a href="">
            Click to return back to index.
        </a>
    </div>
</footer>